<link rel="stylesheet" href="/static/stylesheets/feed-style.css" />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
  rel="stylesheet"
/>
<title>Activity - about</title>

<div class="background-container">
  <div class="feed-container">

    <!-- NAVBAR -->
    <div class="navbar-container">
      <div class="navbar">
        <div class="img-cont logo"></div>
        <a class="nav" href="/trainers">Trainers</a>
        <a class="nav" href="/activities">Activities</a>
        <div class="img-cont user"></div>
      </div>
    </div>
    <!-- NAVBAR FINISH -->

  <% activity.forEach((activity) => { %>
    <!-- buttons -->
    <div class="button-container">
      <a class="btn orange" href="/ActivityAbout?<%= activity.activityId %>">About</a>
      <a class="btn black" href="/ActivityReview?<%= activity.activityId %>">Reviews</a>
    </div>
    <hr class="orange-line" />
    <!-- activity -->
    <div class="activities-card">
      <h2><%= activity.activityName %></h2>
      <div class="post-img resize" style="background-image: url('<%= activity.url %>');"></div>
      <h3>Location: <span><%= activity.location %></span></h3>
      <div id="map-container"><!-- Insert the map here --></div>
      <div class="shared-by">
        <div class="user-pic" style="background-image: url('<%= activity.authorImg %>');"></div>
        <p class="grey-text">Shared by - <%= activity.authorName %> </br> <%= activity.time %></p> 
      </div>
      <div class="description">
        <%= activity.description %>
      </div>
      

      <hr class="orange-line" />
    </div>

    <% activity.forEach((activity) => { %>
      <!-- buttons -->
      <div class="button-container">
        <a class="btn orange" href="/ActivityAbout?<%= activity.activityId %>">About</a>
        <a class="btn black" href="/ActivityReview?<%= activity.activityId %>">Reviews</a>
      </div>
      <hr class="orange-line" />
      <!-- activity -->
      <div class="activities-card">
        <h2><%= activity.activityName %></h2>
        <h3>Location: <span><%= activity.location %></span></h3>
        <div id="map-container"><!-- Insert the map here --></div>
        <h4>Posted by: <%= activity.authorName %></h4>
        <p><%= activity.description %></p>
        <div class="activities-img-div"></div>
        <div class="activities-img-div"></div>
        <hr class="orange-line" />
      </div>
    <% }) %>
  </div>
</div>
  </div>
</div>
    

<script>
  let adress = document.querySelector("span").innerText;

  fetch(
    `https://api.mapbox.com/geocoding/v5/mapbox.places/${adress}.json?access_token=pk.eyJ1Ijoia3JpaWthMiIsImEiOiJja3pxdDFjOGQwYmV5MnZvOXI5bm1qemV3In0.jEvhkABH1R8bftOK9d3Fkw`
  )
    .then((response) => response.json())
    .then((data) => {
      console.log(data.features[0].geometry.coordinates);
      mapboxgl.accessToken =
        "pk.eyJ1Ijoia3JpaWthMiIsImEiOiJja3pxcTJvdTgwY3o2MnBtdW0yNXRjbWIyIn0.wZxIsEtWF9lU5MKLTRuQPQ";
      const map = new mapboxgl.Map({
        container: "map-container", // container ID
        style: "mapbox://styles/mapbox/streets-v11", // style URL
        center: data.features[0].geometry.coordinates, // starting position [lng, lat] Brussel
        zoom: 12, // starting zoom
      });

      new mapboxgl.Marker()
        .setLngLat(data.features[0].geometry.coordinates)
        .addTo(map);
    })
    .catch((error) => {
      console.log("There was an error!", error);
    });
</script>
