<title>Trainers</title>
<link rel="stylesheet" href="/static/stylesheets/activities.css" />
<script src="/static/scripts/searchbar.js"></script>

<div class="background-container">
  <div class="feed-container">
    <div class="main-container">
      <div class="header flex">
        <img src="/static/img-activity/logo.png" alt="" />
        <a class="nav" href="/trainers">Trainers</a>
        <a class="nav page-now" href="/activities">Activities</a>
        <% if(!user){ %>
          <a href="/dashboard">
            <img class="profile-pic" src="/static/img-activity/user-profile-img.jpg" alt="" />
          </a>
        <% }else{ %>
          <a href="/profiles/profile">
            <img class="profile-pic" src="<%= user.profile.url %>" alt="" />
          </a>
        <% } %>
      </div>
      <hr class="orange-line" />
    </div>
    <div class="search-bar-div">
      <input
        type="text"
        class="search-bar"
        onkeyup="searchBarActivity()"
        placeholder="Search for an activity"
      />
    </div>
    <!-- activities -->

    <!-- adding activities begin -->
    <% activities.reverse().forEach((activity) => { %>
    <a href="/ActivityAbout?<%= activity.activityId %>">
      <div class="trainer-profile">
        <hr class="orange-line" />
        <div class="activities-infos flex">
          <div class="trainer-pic" style="background-image: url('<%= activity.authorImg %>')" ></div>
          <div class="activity-name">
            <h4><%= activity.activityName %></h4>
            <p class="grey-text">Shared by - <%= activity.authorName %></p>
            <p class="grey-text"><%= activity.time %></p>
          </div>
        </div>
        <div class="activity-description flex"><%= activity.description %></div>
        <div class="location-text flex">
          <img
            src="/static/img-activity/location-icon.png"
            alt=""
            class="location location-img"
          />
          <p><%= activity.location %></p>
        </div>
        <div class="dog-pic">
          <img src="/static/img-activity/parc.jpg" alt="" class="dog-pic" />
        </div>
        <div class="reviews flex">
          <h2 class="average-rating"><%= activity.rating %></h2>
          <img src="/static/img-activity/star.png" alt="" class="star" />
          <img src="/static/img-activity/star.png" alt="" class="star" />
          <img src="/static/img-activity/star.png" alt="" class="star" />
          <img src="/static/img-activity/star.png" alt="" class="star" />
          <img src="/static/img-activity/star.png" alt="" class="star" />
          <h2>(<%= activity.reviews %>)</h2>
        </div>
      </div>
    </a>
    <% })%>
    <!-- adding activities end -->

    <div class="post-my-activity flex">
      <a class="post-btn" href="/posts/postActivity"
        >Post my activity<i class="fa-solid fa-plus"></i
      ></a>
    </div>
  </div>
</div>
