<title>ActivityReview</title>
<link rel="stylesheet" href="/static/stylesheets/activities.css" />

<div class="background-container">
    <div class="feed-container">
        <div class="main-container">
            <div class="header flex">
                <img src="/static/img-activity/logo.png" alt="" />
                <a class="nav" href="/trainers">Trainers</a>
                <a class="nav page-now" href="/activities">Activities</a>
                <img src="/static/img-activity/user-profile-img.jpg" alt="" />
            </div>
            <hr class="orange-line" />

            <!-- activity -->
            <% activity.forEach((activity) => { %>
                <!-- buttons -->
                <div class="button-container">
                    <a class="btn2 black" href="/ActivityAbout?<%= activity.activityId %>">About</a>
                    <a class="btn2 orange" href="/ActivityReview?<%= activity.activityId %>">Reviews</a>
                </div>
                <hr class="orange-line"/>

                <div class="activities-infos flex">
                    <div class="activity-name">
                    <h4><%= activity.activityName %></h4>
                    <div class="location-text flex">
                        <img
                        src="/static/img-activity/location-icon.png"
                        alt=""
                        class="location location-img"
                        />
                        <p><%= activity.location %></p>
                        </div>
                    <p class="grey-text">Posted by: <%= activity.authorName %></p>
                    <p class="grey-text">Date: <%= activity.time %></p>
                    </div>
                </div>
                <hr class="orange-line" />
            <% }) %>
            <!-- adding reviews begin -->
            <div class="ratings">
                <% if (reviews.length === 0) { %>
                    <h3 class="average-rating padding">Average rating: 0</h3>
                <% } else { %>
                    <% let total = 0 %>
                    <% reviews.forEach((review) => { %>
                        <% total += review.rating %>
                    <% }) %>
                    <% let average = total/reviews.length %>
                    <h3 class="average-rating padding">Average rating: <%= average %></h3>
                <% } %>
                <!-- begin forEach -->
                <% if (reviews.length === 0) { %>
                    <p>There are no reviews yet</p>
                <% } else { %>
                    <% reviews.forEach((review) => { %>
                        <div class="profile flex padding">
                            <div class="trainer-pic"></div>
                            <div class="user-review">
                                <p><%= review.authorName %></p>
                                <p class="grey-text"><%= review.description %></p>
                                <div class="flex">
                                    <h2 class="average-rating"><%= review.rating %></h2>
                                    <img src="/static/img-activity/star.png" alt="" class="star"/>
                                </div>
                                <p class="grey-text"><%= review.time %></p>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
                <!-- end forEach -->

                <!-- temp filler -->
                <!-- <div class="profile flex padding">
                    <div class="trainer-pic"></div>
                    <div class="user-review">
                        <p>Anna Fakesurname</p>
                        <p class="grey-text">This dog park near Brusels is really amazing.</p>
                        <div class="flex">
                            <h2 class="average-rating">4.6</h2>
                            <img src="/static/img-activity/star.png" alt="" class="star"/>
                        </div>
                        <p class="grey-text">30/10/2021</p>
                    </div>
                </div>
                <div class="profile flex padding">
                    <div class="trainer-pic"></div>
                    <div class="user-review">
                        <p>Anna Fakesurname</p>
                        <p class="grey-text">This dog park near Brusels is really amazing.</p>
                        <div class="flex">
                            <h2 class="average-rating">4.6</h2>
                            <img src="/static/img-activity/star.png" alt="" class="star"/>
                        </div>
                        <p class="grey-text">30/10/2021</p>
                    </div>
                </div>
                <div class="profile flex padding">
                    <div class="trainer-pic"></div>
                    <div class="user-review">
                        <p>Anna Fakesurname</p>
                        <p class="grey-text">This dog park near Brusels is really amazing.</p>
                        <div class="flex">
                            <h2 class="average-rating">4.6</h2>
                            <img src="/static/img-activity/star.png" alt="" class="star"/>
                        </div>
                        <p class="grey-text">30/10/2021</p>
                    </div>
                </div> -->
            
            
                
            </div>
            <!-- adding reviews end -->

            <div class="post-my-review">
                <h3 class="average-rating">Add your review:</h3>
                <form action="/posts/newReview" method="post">
                    <input class="input" type="text" placeholder="Give your opinion" id="review" name="review"/>

                    <div class="space-between">
                        <input
                            class="rating"
                            max="5"
                            oninput="this.style.setProperty('--value', this.value)"
                            step="1"
                            type="range"
                            value="1"
                            name="rating">
                        <button type="submit" class="btn3 orange">Submit</button>
                    </div>
                </form>
            </div>

            <!-- <a class="post-btn" href="/posts/postActivity"
                >Post my activity<i class="fa-solid fa-plus"></i
            ></a> -->
            
        </div>
    </div>
</div>