<title>Trainers</title>
<link rel="stylesheet" href="/static/stylesheets/feed-style.css" />
<script src="/static/scripts/searchbar.js"></script>

<div class="background-container">
  <div class="feed-container">
    <!-- NAVBAR -->
    <div class="navbar-container">
      <div class="navbar">
        <div class="img-cont logo"></div>
        <a class="nav" href="/trainers">Trainers</a>
        <a class="nav page-now" href="/activities">Activities</a>
        <div class="img-cont user"></div>
      </div>
    </div>

    <!-- NAVBAR FINISH -->
    <!-- HEADER -->

    <div class="title-container">
      <h1>Browse Activities</h1>
      <div class="search-bar-div">
        <input
          type="text"
          class="search-bar"
          onkeyup="searchBarActivity()"
          placeholder="Search for an activity "
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <hr class="orange-line" />

    <!-- HEADER FINISH -->

    <!-- activities begin -->
    <% activities.reverse().forEach((activity) => { %>
      <a href="/ActivityAbout?<%= activity.activityId %>">
        <div class="card-container">
          <div class="trainer-profile">
            <h2><%= activity.activityName %></h2>
  
            <div class="description">
              <%= activity.description %>
            </div>
            <div class="post-img" style="background-image: url('<%= activity.url %>');">
            </div>
            <div class="location-text">
              <i class="fa-solid fa-location-dot"></i>
              <p><%= activity.location %></p>
            </div>
            <div class="reviews location-text">
              <i class="fa-solid fa-star"></i>
              <p>Avarage rating : <%= activity.rating %>(<%= activity.reviews %>)</p>
            </div>
            <div class="shared-by">
              <div class="user-pic" style="background-image: url('<%= activity.authorImg %>');"></div>
              <p class="grey-text">Shared by - <%= activity.authorName %> </br> <%= activity.time %></p> 
            </div>
          </div>
        </div>
      </a>
      <% })%>

    <!-- adding activities finish -->

    <div class="post-my-activity">
      <a class="post-btn" href="/posts/postActivity"
        >Post my activity<i class="fa-solid fa-plus"></i
      ></a>
    </div>
  </div>
</div>
