<script src="/static/scripts/searchbar.js"></script>
<!--  -->
<title>Trainers</title>
<link rel="stylesheet" href="/static/stylesheets/feed-style.css" />
<div class="background-container">
  <div class="feed-container">
    <!-- NAVBAR -->

    <div class="navbar-container">
      <div class="navbar">
        <div class="img-cont logo"></div>
        <a class="nav" href="/trainers">Trainers</a>
        <a class="nav page-now" href="/activities">Activities</a>
        <div class="img-cont user"></div>
      </div>
    </div>

    <!-- NAVBAR FINISH -->
    <!-- HEADER -->

    <div class="title-container">
      <h1>Browse Trainers</h1>
      <div class="search-bar-div">
        <input type="text" class="search-bar" onkeyup="searchBar()" placeholder="Search for a trainer " />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <hr class="orange-line" />

    <!-- HEADER FINISH -->

    <!-- trainer profile -->

    <!-- adding unscrapped profiles -->
    <% trainers.reverse().forEach((trainer)=> { %>
      <a href="/ActivityAbout?<%= trainer.trainerId %>">
        <div class="card-container">
          <div class="trainer-profile">
            <h2>
              <%= trainer.trainerName %>
            </h2>
            
            <div class="shared-by">
              <div class="user-pic" style="background-image: url('<%= trainer.url %>');"></div>
            </div>

            <div class="description">
              <%= trainer.bio %>
            </div>
          </div>
          <div class="location-text">
            <i class="fa-solid fa-location-dot"></i>
            <p>
              <%= trainer.location %>
            </p>
          </div>
          <div class="reviews location-text">
            <i class="fa-solid fa-star"></i>
          </div>

        </div>
  </div>
  </a>
  <% })%>


        <!-- adding trainers end -->
        <!-- adding scrapped profiles  -->

<% scrappedTrainers.reverse().forEach((trainer)=> { %>
  <div class="card-container trainer-card">
    <div class="trainer-profile">

      <div class="infos">
        <h4>
          <%= trainer.name %>
        </h4>

        <div class="location">
          <p class="grey-text">
            <%= trainer.street %>
          </p>
          <p class="grey-text">
            <%= trainer.city %>
          </p>
          <p class="grey-text">
            <%= trainer.country %>
          </p>
          <p>Phone: <%= trainer.phone %>
          </p>
          <p>Email: <%= trainer.email %>
          </p>
          <p>Website: <%= trainer.website %>
          </p>

        </div>
      </div>
    </div>
  </div>
  <% })%>
</div>
</div