<title>Trainers</title>
<link rel="stylesheet" href="/static/stylesheets/activitiesKristine.css" />
<div class="background-container">
  <div class="feed-container">
<div class="main-container">
  <div class="header flex">
    <img src="/static/img-trainer/logo.png" alt="" />
    <a class="nav page-now" href="/trainers">Trainers</a>
    <a class="nav" href="/activities">Activities</a>
    <img src="/static/img-trainer/user-profile-img.jpg" alt="" />
  </div>
  <hr class="orange-line" />
  <div class="training-type flex">
    <div class="training-img">
      <img src="/static/img-trainer/obedience.png" alt="" />
      <p>Obedience</p>
    </div>
    <div class="training-img">
      <img src="/static/img-trainer/protection.png" alt="" />
      <p>Protection</p>
    </div>
    <div class="training-img">
      <img src="/static/img-trainer/hoops.png" alt="" />
      <p>Hoops</p>
    </div>
    <div class="training-img">
      <img src="/static/img-trainer/others.png" alt="" />
      <p>Others</p>
    </div>
  </div>
  <div class="search-bar-div">
    <input type="text" class="search-bar" placeholder="Search for a trainer" />
  </div>
  <hr class="orange-line" />
  <!-- trainer profile -->
  
  <!-- adding activities begin -->
  <% trainers.reverse().forEach((trainer) => { %>
  <div class="card-container trainer-card">
  <div class="trainer-profile">

      <div class="infos">
        <h4><%= trainer.name %></h4>

        <div class="location">
          <p class="grey-text"><%= trainer.street %></p> 
          <p class="grey-text"><%= trainer.city %></p> 
          <p class="grey-text"><%= trainer.country %></p>
          <p >Phone: <%= trainer.phone %></p>
          <p >Email: <%= trainer.email %></p>
          <p >Website: <%= trainer.website %></p>

        </div>
      </div>
    
<!-- 
    <div class="reviews flex">
      <h2 class="average-rating">4.6</h2>
      <img src="/static/img-trainer/star.png" alt="" class="star" />
      <img src="/static/img-trainer/star.png" alt="" class="star" />
      <img src="/static/img-trainer/star.png" alt="" class="star" />
      <img src="/static/img-trainer/star.png" alt="" class="star" />
      <img src="/static/img-trainer/star.png" alt="" class="star" />
    </div> -->
  </div>
  </div>
  <% })%>
    <!-- adding trainers end -->
</div>
</div>
</div